{% extends 'supplier/base.html' %}

{% block content %}
<a href="{% url 'supplier_pharmacy_create' %}" class="btn btn-primary">Добавить аптеку</a>

<table border="1">
    <tr>
        <th>Номер аптеки</th>
        <th>Телефон</th>
        <th>Район</th>
        <th>Тип собственности</th>
    </tr>
    {% for item in table %}
    <tr>
        <td>{{ item.number }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.district.name }}</td>
        <td>{{ item.property_type.name }}</td>
        <td>
            {% if item.id == 101 %}
                <a href="{% url 'supplier_pharmacy_update' pharmacy_id=item.id %}">Изменить</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}