{% extends 'pharmacy/base.html' %}

{% block content %}
    <title>Диаграмма</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        #chartContainer {
            height: 400px;
            overflow: auto;
        }
    </style>
    <h1>Запрос на запросе по принципу итогового запроса</h1>
    <div id="chartContainer">
        <canvas id="myChart"></canvas>
    </div>

    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var chartData = JSON.parse('{{ chart_data|safe }}');

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: chartData.labels,
                datasets: [{
                    label: 'Всего препаратов',
                    data: chartData.data,
                    backgroundColor: 'rgba(0, 123, 255, 0.5)',
                    borderColor: 'rgba(0, 123, 255, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock content %}