<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">Режим запросов</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dosage_form' %}">Формы выпуска</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'pharmacological_group'%}">Фармакологические группы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'property_type' %}">Типы собственности</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'district' %}">Районы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'country' %}">Страны</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pharmacy' %}">Аптеки</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'drug' %}">Препараты</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'company' %}">Компании-производители</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}">Выйти из аккаунта</a>
        </li>
      </ul>
    </div>
  </nav>