{% extends 'pharmacy/base.html' %}

{% block content %}
<table border="1">
    <tr>
        <th>Номер аптеки</th>
        <th>Телефон</th>
        <th>Район</th>
        <th>Тип собственности</th>
    </tr>
    {% for item in table %}
    <tr>
        <td>{{ item.number }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.district.name }}</td>
        <td>{{ item.property_type.name }}</td>
    </tr>
    {% endfor %}
</table>
<form action="{% url 'pharmacy_change' table.id %}" method="POST">
  {% csrf_token %}
  <label for="number">Номер аптеки:</label><br>
  <input type="text" id="number" name="number" value={{table.name}}><br>
    <label for="number">Телефон:</label><br>
  <input type="text" id="phone" name="phone" value={{table.phone}}><br>
    <label for="number">Район:</label><br>
  <input type="text" id="district" name="district" value={{table.name}}><br>
    <label for="number">Тип собственности:</label><br>
  <input type="text" id="property_type" name="property_type" value={{table.name}}><br>
  <input type="submit" value="Submit">
</form>
{% endblock content %}